@import url(reset.css);
@import url(../imagens/icons);

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}
a{
    text-decoration: none;
    color: black;
}
.menu-option{
    display: flex;
}
.menu-option p{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding-left: 19px;
}
.header__icons{
    padding-right: 14px;
    padding-left: 12px;
}
.category-list{
    width: 350px;
    height: 119px;
    padding-top: 29px;
    padding-left: 12px;
    padding-right: 13px;
}
.categories{
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}
h1{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.circle{
    width: 60px;
    height: 60px;;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
}
.fundo-azul{
    background-color: #4285F4;
}
.fundo-vermelho{
    background-color: #D75437;
}
.fundo-amarelo{
    background-color: #FBBC04;
}
.fundo-verde{
    background-color: #47E185;
}
.bottom-navbar__icon p{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #737373;
}
.heading{
    padding-top: 31px;
}
.playlist-content{
    width: 352px;
    height: 827px;
    padding-top: 24px;
    padding-left: 12px;
}
.playlist-content__titulo{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.playlist-content__bloco-principal{
    background-color: #F2F2F2;
    margin-top: 16px;
    margin-right: 12px;
    border-radius: 4px;
    width: 351px;
    height: 269px;
}
.playlist-content__img-principal{
    width: 351px;
    height: 180px;
    border-radius: 4px 4px 0px 0px;
}
.playlist-content__album-name{
    padding-top: 16px;
    padding-left: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.playlist-content__secundário{
    width: 362px;
    height: 462px;
    padding-top: 10px;
    padding-bottom: 16px;
    display: flex;
    flex-flow: row wrap;
}
.playlist-content__bloco-secundário{
    width: 171px;
    height: 226px;
    background-color: #F2F2F2;
    margin-left: 10px;
    border-radius: 4px;
}
.playlist-content__img-secundário{
    width: 171px;
    height: 146px;
    border-radius: 4px 4px 0px 0px;

}
.playlist-content--sem-margin{
    margin-left: 0px;
}
.playlist-content_info{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: rgba(47, 47, 47, 0.6);
}
.playlist-content_info-divisão{
    padding-left: 16px;
    padding-top: 4px;
    display: flex;
}
.mais-ouvidas{
    padding-top: 24px;
    padding-left: 12px;
    
}
.mais-ouvidas__titulo{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.mais-ouvidas--btm-distância{
    margin-top: 21px;
    margin-bottom: 23px;
}
.bolinha{
    width: 3px;
    height: 3px;
    background-color: #2F2F2F;
    border-radius: 50%;
    flex-grow: 0;
    margin: 6px 8px;
}
.bottom{
    width: 351px;
    height: 51px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bottom p{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.bottom:hover{
    background-color: #326AC6;
}
footer{
    width: 375px;
    height: 43px;
    bottom: 0px;
    border: 1px solid #F2F2F2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}
footer p{
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: rgba(47, 47, 47, 0.5);
}
.button-play{
    width: 51px;
    height: 51px;
    background: #4285F4;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.playlist-musics{
    background-color: #F2F2F2;
    width: 100%;  
}
.playlist-musics__capa{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 20px;
    width: 100%;
}
.playlist-musics__album__name{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding-top: 16px;
}
.playlist-music_info{
    padding-bottom: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}
.playlist-music_info-divisão{
    display: flex;
}
.playlist-musics__lista{
    padding-bottom: 95px;

}
.playlist-musics__lista-músicas{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.playlist-musics__lista-músicas{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.playlist-musics__lista-músicas:hover{
    background-color: #F2F2F2;
}
.playlist-musics__lista-músicas:active{
    background-color: #326AC6;
}
.playlist-musics__name{
    padding-left: 14px;
}
.divisão-flex{
    display: flex;
}
.contagem{
    color: rgba(47, 47, 47, 0.6);
    padding-right: 22px;
}
.divisão-flex img{
    padding-right: 23px;
}
.music-player{
    background-color: #1F1F1F;
    height: 76px;
    border-radius: 9px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.music-player__names{
    padding-left: 22px;
}
.music-player__name-music{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: white;
}
.music-player__name-artist{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.6);
}
.music-player__button{
    padding-right: 24px;
}
.music-player__button :nth-child(2){
    padding-left: 15px;
    padding-right: 15px;
}

